*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx
*.sdk.dll
*.sdk.pdb
*.sdk.mdb
*.boltdata
*.Mongoose.boltdata

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*/*/*/bin/*
*/*/*/obj/*
*_ReSharper.*/
*/*/packages/*

*/*/Resource.designer.cs
*/*/*/Resource.designer.cs
*/*/*/*/Resource.designer.cs

*/*/.Mongoose.boltdata
*/*/*/.Mongoose.boltdata
*/*/*/*/.Mongoose.boltdata

/.sonar/
*/.sonar/
*/*/.sonar/
*/*/*/.sonar/
*/*/*/*/.sonar/

InAppPurchase/ComponentSample/Components/
