<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Mongoose" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />
	<application android:label="ArtEvent Guide" android:icon="@drawable/golden_book_rounded_64">
		<service android:name="com.estimote.sdk.service.BeaconService" android:exported="false" />
		<service android:name=".BackgroundService" />
		<receiver android:name=".FavoritesReceiver"></receiver>
	</application>
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>